doctype html
html
	head
		title Kontakt
		meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
	body
		form
			div.form-group
				label(for="name") Imię i Nazwisko
				input#name.form-control